@model GameLibrary.Model.Publisher.PublisherDetail

@{
    ViewBag.Title = "DeletePublisher";
}

<body style="background-color: powderblue">

    <h1><b>Delete</b></h1>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PublisherID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PublisherID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PublisherName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PublisherName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PublisherFounder)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PublisherFounder)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PublisherLocation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PublisherLocation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PublisherYearEstablished)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PublisherYearEstablished)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PublisherMostPopularGame)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PublisherMostPopularGame)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                @Html.ActionLink("Back to List", "Index") |
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        }
    </div>
</body>