@model GameLibrary.Model.Console.ConsoleDetail

@{
    ViewBag.Title = "Details";
}

<h2>Console Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConsoleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsoleID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsoleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsoleCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsoleCost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConsoleID})
    @Html.ActionLink("Back to List", "Index")
</p>
