@model IEnumerable<GameLibrary.Model.Console.ConsoleListItem>

@{
    ViewBag.Title = "Index";
}

<body style="background-color: silver">


    <h1><b>Consoles / Platforms</b></h1>

    <p>
        <b>@Html.ActionLink("Create New", "Create")</b>
    </p>

    @using (Html.BeginForm())
    {
        <p>
            <b>Search by Name:</b> @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }

    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.ConsoleIDSortParm })
            </th>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.ConsoleNameSortParm })
            </th>
            <th>
                @Html.ActionLink("Cost", "Index", new { sortOrder = ViewBag.ConsoleCostSortParm })
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <b>@Html.DisplayFor(modelItem => item.ConsoleID)</b>
                </td>
                <td>
                    <b>@Html.DisplayFor(modelItem => item.ConsoleName)</b>
                </td>
                <td>
                    <b>@Html.DisplayFor(modelItem => item.ConsoleCost)</b>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ConsoleID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ConsoleID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ConsoleID })
                </td>
            </tr>
        }
    </table>
</body>