@model IEnumerable<GameLibrary.Model.Game.GameListItem>

@{
    ViewBag.Title = "Index";
}

<style>
    th {color: black;}
</style>

<body style="background-color: burlywood">

<h1><b>Game Library</b></h1>

<p>
    <b>@Html.ActionLink("Create New", "Create")</b>
</p>

@using (Html.BeginForm())
{
    <p>
        <b>Search by Name:</b> @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.GameIDSortParm })
        </th>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.GameNameSortParm })
        </th>
        <th>
            @Html.ActionLink("Genre", "Index", new { sortOrder = ViewBag.GameGenreSortParm })
        </th>
        <th>
            Online?
        </th>
        <th>
            Muliplayer?
        </th>
        <th>
            @Html.ActionLink("Advisory Rating", "Index", new { sortOrder = ViewBag.GameAdvisoryRatingSortParm })
        </th>
        <th>
            @Html.ActionLink("Rating", "Index", new { sortOrder = ViewBag.GameRatingSortParm })
        </th>
        <th>
            @Html.ActionLink("Console", "Index", new { sortOrder = ViewBag.ConsoleIDSortParm })
        </th>
        <th>
            @Html.ActionLink("Publisher", "Index", new { sortOrder = ViewBag.PublisherIDSortParm })
        </th>
        <th>
            @Html.ActionLink("Release Date", "Index", new { sortOrder = ViewBag.GameReleaseDateSortParm })
        </th>
        <th>
            @Html.ActionLink("GameStop will pay you...", "Index", new { sortOrder = ViewBag.GameGameStopSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <b>@Html.DisplayFor(modelItem => item.GameID)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.GameName)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.GameGenre)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.GameMultiplayer)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.GameOnline)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.GameAdvisoryRating)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.GameRating)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.ConsoleName)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.PublisherName)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.GameReleaseDate)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.GameGameStop)</b>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.GameID }) | @*Uncommenting these sends them to the exact Game you want to EDIT or VIEW, instead of to an error page without the ID at the end of the URL*@
                @Html.ActionLink("Details", "Details", new { id = item.GameID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.GameID })
            </td>
        </tr>
    }
</table>
</body>